:root {
  --accent-color: #2A3E6E;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
}

em, strong {
  font-family: "Libre Baskerville", serif;
}

strong {
  font-weight: 700; 
}

