:root {
  --navbar-height: 56px;
}

* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
  margin-bottom: 2rem;
}

em, strong {
  font-family: "Libre Baskerville", serif;
}

strong {
  font-weight: 700; 
}

main#content {
  min-height: calc(100vh - var(--navbar-height));
}
 
code * {
  font-family: 'Ubuntu Mono', Courier, monospace !important;
}

code {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 4px 4px 2px #ccc;
  padding: 14px;
}

a {
  text-decoration: underline;
}

#navigation {
  min-height: var(--navbar-height);
  background: white;
}

#navigation a,
a.btn {
  text-decoration: none;
}

.hljs * {
  font-size: 1rem;
}

