---
title: About
layout: layout.html
active: about
---

<link rel="stylesheet" href="/static/css/about.css">

<h1>Credentials</h1>

<ul>
  {% for credential in credentials %}
    <li><strong>{{credential.degree}}</strong> <em>{{credential.honors}}</em> &mdash; {{credential.institution|title}}; ({{credential.from}} - {{credential.to}})</li>
  {% endfor %}
</ul>

<h1>Experience</h1>

<ul>
  {% for experience in experiences %}
    <li><strong>{{experience.title|title}}</strong> &mdash; {{experience.institution|title}}; ({{experience.from}} - {{experience.to}})</li>
  {% endfor %}
</ul>

<h1>Technology</h1>

<ul>
  {% for technology in technologies %}
    <li><em>{{technology}}</em></li>
  {% endfor %}
</ul>

<h1>Resume</h1>

<ul>
  <li><a href="/static/files/Resume.pdf" target="_blank">Resume</a></li>
</ul>

<h1>Contact</h1>

<ul>
  {% for contact in contacts %}
    <li>
      <img src="{{contact.img}}" alt="{{contact.key}}">
      <a href="{% if contact.key == 'gmail' %}mailto:{% endif %}{{contact.value}}">{{contact.value}}</a>
    </li>
  {% endfor %}
</ul>
